input {
    background-color: transparent;
    color: #1a1a1a;
    border-style: none;
    width: 50px;
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    outline: none;
    font-size: 25px;
}

body {
    background: transparent;
    width: 100%;
    margin: 0;
}

#frac {

    width: 50px;
    float: left;

}

hr {
    width: auto;
    height: 3px;
    background-color: #ff5900;
    border-radius: 10px;
}

#frac1 {
    width: 50px;
    float: right;

}

.fracsec {
    width: 300px;
    display: block;
    height: 70px;
    padding: 10px;
    margin: auto;
    padding-right: 20px;
    margin-bottom: 20px;
}

html {
    background-color: #f3f3f3;
    text-align: center;
    align-content: center;
    background-image: -webkit-linear-gradient(65deg, #ff5900 50%, #f3f3f3 50%);
    height: 100%;

}

#onefrac {
    width: 200px;
    height: 100px;
    background-color: #ff5900;
    display: inline-block;
    float: left;
}

#onefracb {
    width: 200px;
    height: 100px;
    background-color: #cecece;
    margin: 10px;
    display: inline-block;
    align-items: none;
}

#twofrac {
    width: 200px;
    height: 100px;
    background-color: #ff5900;
    display: inline-block;
    align-items: none;
    float: left;
}

#twofracb {
    width: 200px;
    height: 100px;
    background-color: #c4b6b6;
    margin: 10px;
    display: inline-block;
    align-items: none;
}

p {
    display: inline-block;
    color: #1a1a1a;
    font-family: cursive;
}

button {
    background-color: #dfdfdf;
    color: #1a1a1a;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    font-size: 12px;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 0px #676863;
    margin-left: 20px;
}

button:active {
    background-color: #dfdfdf;
    color: #ff5900;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    font-size: 12px;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    margin-left: 21px;
}

.App {
    width: 530px;
    height: auto;
    margin: auto;
    margin-top: 7%;
    padding: 50px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 15px -5px;
    background: white;

}

h1 {
    font-family: cursive;
    font-size: 30px;
    margin-top: 30px;
    color: #4caf50;
}